@model PostVM
@{
    ViewData["Title"] = "AddPost";
}

<br />
<h1>Post Ekle</h1>
<form asp-action="AddPost" asp-controller="Post" method="post">
    <br />
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="form-group form-row d-flex justify-content-center  mb-3">
        <label asp-for="PostCategoryId" class="control-label col-md-2"></label>
        <select asp-for="PostCategoryId" class="form-control col-md-4" asp-items="ViewBag.PostCategory">
        </select>

    </div>
    <div class="form-group form-row d-flex justify-content-center  mb-3">
        <label asp-for="Title" class="control-label col-md-2"></label>
        <input asp-for="Title" class="form-control col-md-4" />
    </div>
    <div class="form-group form-row d-flex justify-content-center  mb-3">
        <label asp-for="Comment" class="control-label col-md-2"></label>
        @*<input asp-for="Comment" class="form-control col-md-4" />*@
        <textarea asp-for="Comment" rows="5" cols="40">

  </textarea>
    </div>

    <div class="d-flex justify-content-around  mb-3">


        <div class="p-2">
            <a class="btn btn-secondary" href="/Home/Index">Vazgeç</a>
        </div>
        <div class="p-2">
            <button type="submit" class="btn btn-primary">Paylaş</button>
        </div>

    </div>

</form>
